---
import Layout from "~/layouts/Layout.astro"

const { albumName } = Astro.params
---

<Layout
  title={`Canciones del Album ${albumName} | Fan Page ST Arg`}
  description=''
>
  <div></div>
</Layout>
