---
import Hero from '~/components/offerings/Hero.astro'
import FeatureArtwork from '~/sections/offerings/FeatureArtwork.astro'
import GalleryGrid from '~/sections/offerings/GalleryGrid.astro'
import SubmitArtwork from '~/sections/offerings/SubmitArtwork.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout
  title=''
  description=''
>
  <Hero />
  <main class='pb-32'>
    <FeatureArtwork />
    <GalleryGrid />
    <SubmitArtwork />
  </main>
</Layout>
