---
import Hero from '~/components/Hero.astro'
import Layout from '~/layouts/Layout.astro'
// import Featured from '~/sections/Featured.astro'
// import LatestNews from '~/sections/LatestNews.astro'
import Community from '~/sections/Community.astro'
---

<Layout
  title='Sleep Token Argentina | Comunidad de Adoradores'
  description=''
>
  <Hero />
  <main class='py-20'>
    <!-- <Featured /> -->
    <Community />
    <!-- <LatestNews /> -->
  </main>
</Layout>
