---
import DesktopNav from './ui/DesktopNav.astro'
import MobileNav from './ui/MobileNav.astro'
---

<nav class='fixed top-5 left-1/2 z-50 w-[95%] max-w-4xl -translate-x-1/2 transform'>
  <!-- Desktop Navigation -->
  <DesktopNav />
  <!-- Mobile Navigation -->
  <MobileNav />
</nav>
