---
import Hero from '~/components/newsletter/Hero.astro'
import Subscription from '~/sections/newsletter/Subscription.astro'
import RecentNewslatter from '~/sections/newsletter/RecentNewslatter.astro'
import NewslatterStats from '~/sections/newsletter/NewslatterStats.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout
  title=''
  description=''
>
  <Hero />
  <main class='pb-32'>
    <Subscription />
    <RecentNewslatter />
    <NewslatterStats />
  </main>
</Layout>
