---
// import type { Discographies } from '~/types'

// const res = await fetch(new URL('/api/discographies', Astro.url))
// const discographies = (await res.json()) satisfies Discographies
// const { name, image, slug } = discographies[0]
---

<section data-name='Featured'>
  <div></div>
</section>
