---
import Community from '~/sections/worshippers/Community.astro'
import FeaturedMembers from '~/sections/worshippers/FeaturedMembers.astro'
import CitiesMap from '~/sections/worshippers/CitiesMap.astro'
import Testimonials from '~/sections/worshippers/Testimonials.astro'
import JoinCommunity from '~/sections/worshippers/JoinCommunity.astro'
import Hero from '~/components/worshippers/Hero.astro'
import Layout from '~/layouts/Layout.astro'
import { getLangFromURL, useTranslation } from '~/i18n/utils'

const lang = getLangFromURL(Astro.url)
const t = useTranslation(lang)
---

<Layout
  title={t('worshippers.page.index.title')}
  description={t('worshippers.page.index.description')}
>
  <Hero />
  <main class='pb-32'>
    <Community />
    <FeaturedMembers />
    <CitiesMap />
    <Testimonials />
    <JoinCommunity />
  </main>
</Layout>
