---
import Layout from '~/layouts/Layout.astro'
import { getLangFromURL, useTranslation } from '~/i18n/utils'
import WorkInProgress from '~/components/ui/WorkInProgress/WorkInProgress.astro'
import MainMessage from '~/components/ui/WorkInProgress/MainMessage.astro'
import ProgressIndicator from '~/components/ui/WorkInProgress/ProgressIndicator.astro'
import EstimatedCompletion from '~/components/ui/WorkInProgress/EstimatedCompletion.astro'
import NotificationSignup from '~/components/ui/WorkInProgress/NotificationSignup.astro'
import AlternativeActions from '~/components/ui/WorkInProgress/AlternativeActions.astro'

const lang = getLangFromURL(Astro.url)
const t = useTranslation(lang)
const { name } = Astro.params
---

<Layout
  title={t('index.page.title').replace('%name%', name ?? '')}
  description=''
>
  <main class='min-h-screen flex items-center justify-center relative overflow-hidden pt-20 pb-20'>
    <div class='relative z-10 mx-auto max-w-4xl px-4 text-center'>
      <WorkInProgress />
      <MainMessage />
      <ProgressIndicator />
      <EstimatedCompletion />
      <NotificationSignup />
      <AlternativeActions />
    </div>
  </main>
</Layout>
