---
import HeadTags from '~/components/HeadTags.astro';
import { getLangFromURL } from '~/i18n/utils';
import Footer from '~/sections/Footer.astro';
import Navbar from '~/sections/Navbar.astro';
import '~/styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props
const lang = getLangFromURL(Astro.url)
---

<!doctype html>
<html {lang}>
	<head>
		<HeadTags title={title} description={description} />
	</head>
	<body class="bg-ritual-900 text-gray-200 font-vessel font-light">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
	</body>
</html>
