<div class='mb-8'>
  <div
    class='from-eia-500/20 to-vessel-500/20 relative mx-auto mb-6 flex h-32 w-32 items-center justify-center rounded-full bg-gradient-to-br'
  >
    <div class='border-eia-500/30 absolute inset-0 animate-pulse rounded-full border-4'></div>
    <span class='text-6xl'>🔧</span>
  </div>
  <div class='text-eia-400 flex items-center justify-center space-x-2'>
    <div class='bg-eia-500 h-2 w-2 animate-bounce rounded-full'></div>
    <div
      class='bg-eia-500 h-2 w-2 animate-bounce rounded-full'
      style='animation-delay: 0.1s'
    >
    </div>
    <div
      class='bg-eia-500 h-2 w-2 animate-bounce rounded-full'
      style='animation-delay: 0.2s'
    >
    </div>
  </div>
</div>
