<header class='px-4 pt-24 pb-8'>
  <div class='mx-auto max-w-6xl'>
    <h1 class='text-eia-500 mb-4 text-4xl font-bold md:text-6xl'>Rituales</h1>
    <p class='text-lg text-gray-300'>Encuentros y eventos de la comunidad argentina</p>
  </div>
</header>
