<div class='bg-eia-500/10 absolute top-20 left-10 h-32 w-32 rounded-full blur-xl'></div>
<div class='bg-vessel-500/10 absolute right-10 bottom-20 h-40 w-40 rounded-full blur-xl'></div>
<div class='bg-tmbte-500/10 absolute top-1/2 left-1/4 h-24 w-24 rounded-full blur-xl'></div>
