---
import WorkInProgressLogo from '~/components/ui/WorkInProgress/WorkInProgressLogo.astro'
import MainMessage from '~/components/ui/WorkInProgress/MainMessage.astro'
import ProgressIndicator from '~/components/ui/WorkInProgress/ProgressIndicator.astro'
import EstimatedCompletion from '~/components/ui/WorkInProgress/EstimatedCompletion.astro'
import NotificationSignup from '~/components/ui/WorkInProgress/NotificationSignup.astro'
import AlternativeActions from '~/components/ui/WorkInProgress/AlternativeActions.astro'
---

<div class='relative z-10 mx-auto max-w-4xl px-4 text-center'>
  <WorkInProgressLogo />
  <MainMessage />
  <ProgressIndicator />
  <EstimatedCompletion />
  <NotificationSignup />
  <AlternativeActions />
</div>
